.form_container{
   
    padding: 30px;
}

.form_container form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(207, 211, 210);
    padding: 10px;
   
}
.form_container form input{
    width: 50%;
    margin: 5px;
    padding: 10px;
   
}

