.expert_container{
    display: flex;
    justify-content: space-around;
    align-items: center; 
    background-color: rgb(78, 78, 255);
    padding: 20px;
    border-radius: 10px;
}


.input_box{
display: flex;
justify-content: center;
align-items: center;
padding: 10px;
}
.input_box input{
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    padding: 10px;
    width: 100%;
}
.phone{
    margin-top: 10px;
}
.mail{
    margin-top: 10px;
}